*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root {
  --50: rgb(239, 248, 255);
  --100: rgb(222, 240, 255);
  --200: rgb(181, 227, 255);
  --300: rgb(116, 206, 255);
  --400: rgb(43, 182, 255);
  --500: rgb(0, 156, 248);
  --600: rgb(0, 123, 213);
  --700: rgb(0, 98, 172);
  --800: rgb(0, 84, 142);
  --900: rgb(5, 69, 117);
  --950: rgb(4, 50, 89);
}
